altgraph==0.17.4
ansicon==1.89.0
appdirs==1.4.4
blessed==1.20.0
flyingcircus==0.1.4.1
jinxed==1.2.1
keyboard==0.13.5
packaging==24.0
pefile==2023.2.7
pillow==10.3.0
pyinstaller==6.6.0
pyinstaller-hooks-contrib==2024.6
pytk==0.0.2.1
pywin32-ctypes==0.2.2
setuptools-scm==8.1.0
six==1.16.0
tomli==2.0.1
wcwidth==0.2.13